@model List<Department>
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center" style="color:#6f4518;">All Departments Data</h1>
<a asp-action="InsertDept" asp-controller="Department" class="btn m-3" style="background-color:#6f4518;color:white"><i class="fas fa-plus m-2"></i>insert new Department</a>

<table class="table text-capitalize text-center">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">code</th>
            <th scope="col">manager-name</th>
            <th scope="col">courses</th>
            <th scope="col">operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="p-4">
                <td>@obj.Name</td>
                <td>@obj.Code</td>
                <td>@obj.ManagerName</td>
                <td >
                    <a asp-action="GetSpecificCourses" asp-controller="Courses" asp-route-id="@obj.Id" style="color:#6f4518;border-bottom:1px solid #6f4518" class="p-2 rounded">
                        Manage courses
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@obj.Id" class="m-3" style="color:#d84413">

                        <i class="fas  fa-user-times m-2" style="color: #d84413;"></i>delete
                    </a>
                    <a asp-action="Edite" asp-route-id="@obj.Id" style="color:#6f4518"> edite <i class="fas fa-pen" style="color: #700505;"></i></a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
